.container {
	padding: 0 2rem;
}

.main {
	max-width: 700px;
	margin: auto;
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header {
	max-width: 480px;
	text-align: center;
}

.logo {
	font-size: 4rem;
}

.title a {
	color: #c5e478;
	text-decoration: none;
	cursor: pointer;
}

.title a:hover,
.title a:focus,
.title a:active {
	text-decoration: underline;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
}

.title {
	text-align: center;
}

.subtitle {
	font-size: 12px;
}

.description {
	line-height: 1.5;
	font-size: 1.35rem;
}

.formWrapper {
	margin: 4rem 0;
	text-align: center;
	width: 100%;
}

.form {
	display: flex;
	flex-direction: column;
	margin-top: 16px;
	width: 640px;
	margin: 0 auto;
}

.error {
	font-size: 14px;
	color: red;
}

@media (max-width: 600px) {
	.container {
		padding: 0;
	}

	.main {
		padding: 2rem 0;
	}

	.header {
		max-width: 300px;
		margin: 0 auto;
		padding: 1rem 0;
	}

	.title {
		font-size: 3.125rem;
	}

	.formWrapper {
		margin: 3rem 0;
	}

	.form {
		width: 100%;
	}

	.description {
		font-size: 1.375rem;
	}
}
